body {
   background-color:cyan;
}
h1{
    text-align:center ;
    animation-name:Text;
    animation-duration: 5s;
    text-decoration:color:red;
}
iframe{
    border-radius:5%;
    border-color:red;
    display:block ;
    margin:auto ;

}
@keyframes Text{
    from{;}
}
